body {
	background-color: #f7931e;
}

.content {
	font-family: 'Source Sans Pro', 'sourcesanspro', sans-serif;
	background: #FFFFFF;
	display: none;
	width: 50%;
	height: ;
	margin: 13% auto;
	position: relative;
	padding: 0.3em 1em 0.3em 1em;
}

.visible{
	display: block;
}

h2 {
	font-family: 'PoliticsHeadBold', 'Source Sans Pro', 'sourcesanspro', sans-serif;
}

.footer {
	font-size: 80%;
}

sup {
	font-size: 60%;
}
