body {
	background: url('sonne.png') #f7931e center;
	/*background: url('hand.png') right bottom;*/

}

.wrapper {
	font-family: 'Source Sans Pro', 'sourcesanspro', sans-serif;
	width: 50%;
	margin: 13% auto;
	position: relative;
}

.content {
	display: none;
	background-color: #FFFFFF;
	padding: 0.3em 1em 0.3em 1em;
}

.visible{
	display: block;
}

h2 {
	font-family: 'PoliticsHeadBold', 'Source Sans Pro', 'sourcesanspro', sans-serif;
}

.footer {
	font-size: 70%;
}

sup {
	font-size: 60%;
}

.menu {
	position: relative;
}

.menu li {
	display: inline;
	list-style-type: none;
	padding: 20px;
	padding: 0.3em 1em 0.3em 1em;
	background: #FFFFFF;
}
